@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');
.holder{
    margin-left: 10em;
    margin-right: 10em;
    width: calc(100% - 20em);
    min-width: 24.5em;
}
.margin0{
    margin-left :0;
    margin-right: 0;
    width: 100%;
}
.ts300ms{
    transition: 300ms ease-out;
}
.nowPlaying{
    padding: 1.5em;
    margin-top: 1.5em;
    border-radius: 1em;
    transition: background-color 500ms;
    box-shadow: 0 0.2em 0.4em rgb(0,0,0,0.6);
}
.nowPlayingMobile{
    margin-top: 0;
    padding-top: 3em;
    border-radius: 0;
}
#nowPlayingStatus{
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
    margin-top: 0;
}
#mainPictureHold{
    display: inline-block;
    margin-right: 1.5em;
}
#mainPicture{
    width: 20em;
    box-shadow: 0 0.2em 0.4em rgb(0,0,0,0.6);
    cursor: pointer;
    display: block;
}
#mainInfoHolder{
    display: inline-block;
    vertical-align: top;
}
.mainInfoHolderSide{
    max-width: calc(100% - 21.5em);
}
#mainTitle{
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0;
}
#mainArtist{
    margin-top: 0.5em;
}
#mainProgress{
    font-family: 'JetBrains Mono', monospace;
}






#recentlyPlayed{
    padding: 1.5em;
    padding-bottom: 0;
    padding-top: 0;
}
#titleRecentlyPlayed{
    font-size: 2em;
    font-weight: bold;
    line-height: 1em;
}
.listRecentlyPlayed{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.recentlyPlayedImageHolder{
    margin-right: 1em;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.recentlyPlayedImage{
    width: 3em;
    display: block;
}
.recentlyPlayedInfoHolder{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    width: fit-content;
    max-width: calc(100% - 4.3em);
}
.recentlyPlayedSongName{
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recentlyPlayedArtistName{
    margin: 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}