<!DOCTYPE html>
<html>
    <head>
        <title>Spotifinfo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <%if(isLoggedOut){%>
            <script>isLoggedOut = true</script>
        <%}else{%>
            <script>isLoggedOut = false</script>
        <%}%>
    </head>
    <body>
        <div id="nav" class="nav">
            <a class="page page_lft lh1" href="../"><span>Home</span></a>

            <div id="profile_h">
                <img id="profile" src="img/spotify_logo.png">
                <span class="lh1">Login</span>
            </div>
        </div>
        <div id="holder" class="holder none">
            <div id="main">
                <div id="logoHolder">
                    <img id="logo" src="/img/kinghd.png">
                </div>
                <div id="infoHolder">
                    <p id="infoTitle">Spotifinfo</p>
                    <p class="infoText">What you can do with this:</p>
                    <ul>
                        <li class="infoText">See your now playing</li>
                        <li class="infoText">See your listening history</li>
                        <li class="infoText">Info about your Spotify account</li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="https://www.google.com/recaptcha/api.js?render=6Ld9VmMcAAAAAK48XrvY1T8vcjjNBHN4tkRipg5C"></script>
        <script src="/script_minify/indexOut.js?1631811001414"></script>
    </body>
</html>