<!DOCTYPE html>
<html>
    <head>
        <title>Spotifinfo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <%if(isLoggedOut){%>
            <script>isLoggedOut = true</script>
        <%}else{%>
            <script>isLoggedOut = false</script>
        <%}%>
    </head>
    <body style="display: none">
        <div id="nav" class="nav">
            <a class="page page_lft lh1" href="../"><span>Home</span></a>

            <a class="page lh1" href="/top_tracks"><span>Top Tracks/Artists</span></a>
            <div id="profile_h">
                <img id="profile">
                <svg id="dropdown" viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg"><g><path fill="white" d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"></path></g></svg>
            </div>

            <div id="dropdown_options" class="dropdown_options none">
                <a href="/account" id="account" class="pointer">Account</a>
                <div class="divide1"></div>
                <a id="logout" class="pointer">Logout</a>
                <div class="divide1"></div>
                <div id="theme" class="pointer">
                    <span>Dark mode</span>
                    <svg id="theme_check" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="white"/></svg>
                </div>
            </div>
        </div>

        <div id="holder" class="holder none">
            <div id="nowPlaying" class="nowPlaying none">
                <p id="nowPlayingStatus"></p>
                <a id="mainPictureHold">
                    <img id="mainPicture">
                </a><%
                %><div id="mainInfoHolder">
                    <a id="mainTitle"></a>
                    <p id="mainArtist"></p>
                    <p id="mainProgress"></p>
                </div>
            </div>
            <div id="recentlyPlayed" class="none">
                <p id="titleRecentlyPlayed">Recently Played:</p>
                <div id="recentlyPlayedListHolder"></div>
            </div>
            
            <div id="recaptchaBrandingHolder">
                <span>This site is protected by reCAPTCHA and the Google</span>
                <a class="rcB" href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a>
                <span>and</span>
                <a class="rcB" href="https://policies.google.com/terms" target="_blank">Terms of Service</a>
                <span>apply.</span>
            </div>
        </div>

        <script src="https://www.google.com/recaptcha/api.js?render=6Ld9VmMcAAAAAK48XrvY1T8vcjjNBHN4tkRipg5C"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
        <script src="/index.js?1633780057854"></script>
    </body>
</html>