$dark: hsl(240, 14%, 25%);
$light: hsl(240, 14%, 80%);

@mixin selectorsChild {
    text-align: center;
    padding: 0.5em 0;
    cursor: pointer;
    border-radius: 0.25em;

    &.selected {
        background-color: $dark;
        box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
    }

    &.selectedLight {
        background-color: $light;
        box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);
    }
}

.typeSelector {
    display: grid;
    grid-template-columns: auto auto;

    div {
        @include selectorsChild();
    }
}

.rangeSelector {
    display: grid;
    grid-template-columns: auto auto auto;

    div {
        @include selectorsChild();
    }
}
