@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$font-light: #202020;
$font-dark: #dfdfdf;
$background-dark: #202020;
$background-light: #dfdfdf;
$navbar-dark: #505050;
$navbar-light: #e1e1e1;

a, span, p{
    color: inherit;
    text-decoration: inherit;
}

body{
    margin:0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Inter',sans-serif;
    color: $font-dark;
    background-color: $font-light;
}
.none{
    display: none;
}

#page{
    margin-left: 10em;
    margin-right: 10em;
    min-width: 24.5em;
}
.pageMobile{
    margin: 0 !important;
}