/*
    NON SPECIFICS
*/

a:-webkit-any-link{
    color:unset;
    text-decoration:unset;
}
.pointer{
    cursor: pointer;
}
.divider1{
    height: 1em;
    display:block;
}
.lineHeight1{
    line-height: 1em;
}
.rotate180deg{
    transform: rotate(180deg);
}

/*
    CLASSES
*/

.nav{
    top: 0;
    position: sticky;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;
    min-width: 24.5em;
    background-color: var(--navbar-dark);
    box-shadow: 0 0.1em 0.2em rgb(0,0,0,0.6);
}
.navLight{
    background-color: var(--navbar-light);
}
.dropdown_options{
    position: fixed;
    top: 4.5em;
    right: 1.5em;
    background-color: var(--navbar-dark);
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.2em rgb(0,0,0,0.6);
}
.dropdown_optionsLight{
    background-color: var(--navbar-light);
}
.pages{
    margin-right: 2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    display: inline-block;
}

/*
    INDIVIDUAL
*/

#profile{
    margin:1em;
    margin-left: 0;
    height: 2em;
    border-radius: 1em;
    display: inline-block;
    vertical-align: middle;
}
#profile_holder{
    float: right;
    margin-right: 1.5em;
    cursor: pointer;
}
#dropdown{
    vertical-align: middle;
    width: 1em;
    transition: 100ms;
}
#theme_check{
    width: 1em;
    float: right;
    margin-left: 0.5em;
}