#recaptchaBrandingHolder{
    padding: 1.5em;
    padding-top: 0;

    span,a{
        font-size: 0.75em;
    }

    .branding{
        color: hsl(220,100%,75%);
        text-decoration: underline;
    }
    .brandingLight{
        color: hsl(220,100%,50%);
    }
}