.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 100ms ease-out;
    z-index: 9999;

    margin: 0 !important;

    &.show {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.popup {
    position: fixed;
    margin: 0 !important;
    z-index: 10000;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);

    height: 80vh;
    width: 40rem;
    border-radius: 1rem;
    padding: 1.5rem;

    transition: opacity, scale, 100ms ease-out;
    opacity: 0;

    background-color: hsl(240, 14%, 25%);

    &.show {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    .topHolder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: 2rem;
            font-weight: 600;
            margin: 0;
        }

        img {
            width: 2rem;
            height: 2rem;
            margin-left: 1rem;
            cursor: pointer;
        }
    }
}

@media (max-width: 44rem) {
    .popup {
        width: calc(100% - 3rem);
        border-radius: 0;
    }
}
