.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 100ms ease-out;
    z-index: 9999;

    margin: 0 !important;

    &.show {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.popup {
    position: fixed;
    margin: 0 !important;
    z-index: 10000;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 80vh;
    width: 40rem;
    border-radius: 1rem;

    transition: opacity 100ms ease-out;
    opacity: 0;

    background-color: hsl(240, 14%, 25%);

    &.show {
        opacity: 1;
    }
}
