#recentlyPlayed{
    padding: 1.5em;
    padding-top: 0;

    #titleRecentlyPlayed{
        font-size: 2em;
        font-weight: 600;
        line-height: 1em;
    }

    .playedDate{
        font-size: 1.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        font-weight: 600;
    }

    .each{
        width: 100%;
        margin-top: 1em;
        margin-bottom: 1em;

        .artHolder{
            margin-right: 1em;
            display: inline-block;
            vertical-align: middle;

            img{
                width: 3em;
                display: block;
            }
        }

        .infoHolder{
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            width: max-content;
            max-width: calc(100% - 4em);

            @mixin textInfo{
                margin: 0;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .songName{
                @include textInfo();
                margin-bottom: 0.5em;
                font-weight: 600;
            }

            .artistsName{
                @include textInfo();
            }
        }
    }
}