#recentlyPlayed{
    padding: 1.5em;
    padding-top: 0;
}
#titleRecentlyPlayed{
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
}

.recentlyPlayedEach{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.recentlyPlayedArtHolder{
    margin-right: 1em;
    display: inline-block;
    vertical-align: middle;
}
.recentlyPlayedArt{
    width: 3em;
    display: block;
}
.recentlyPlayedInfoHolder{
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    width: max-content;
    max-width: calc(100% - 4em);
}
.recentlyPlayedSongName{
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.recentlyPlayedArtistsName{
    margin: 0;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}