@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

@mixin topBoth {
    margin-top: 1.5em;

    & > div:not(.loadingAnimationHolder) {
        margin: 1em 0;
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
    }

    .number {
        width: 1em;
        min-width: 1em; /* wtf? */
        text-align: right;
        margin-right: 1em;
        font-family: 'JetBrains Mono', monospace;
    }

    .artHolder {
        display: inline-block;
        width: 3em;
        height: 3em;
        margin-right: 1em;

        img {
            width: 3em;
            height: 3em;
            display: block;
        }
    }

    .infoHolder {
        min-width: 0;
        width: max-content;

        p {
            margin: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: max-content;
            max-width: 100%;
        }
    }
}

.topTracksHolder {
    @include topBoth();

    .infoHolder p:first-child {
        font-weight: 600;
        margin-bottom: 0.5em;
    }
}

.topArtistsHolder {
    @include topBoth();

    .artHolder img {
        border-radius: 1.5em;
        object-fit: cover;
    }
}
