.dropdownElement {
    position: absolute;
    display: flex;
    flex-direction: column;

    padding: 0.5rem 1rem;
    top: 3.5rem;
    right: 0;
    width: max-content;
    border-radius: 0.5rem;
    background-color: hsl(240, 14%, 25%);
    box-shadow: 0 0.1rem 0.2rem hsla(0, 0, 0, 0.6);

    & > a,
    & > div {
        margin: 0.5rem 0;
    }

    #logoutButton {
        cursor: pointer;
        display: inline-block;
        width: max-content;
    }

    &.light {
        background-color: hsl(240, 14%, 80%);
    }
}
