$navbar-dark: #505050;
$navbar-light: #e1e1e1;

#dropdownElement {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    right: 0;
    top: 3.5em;
    width: max-content;

    background-color: $navbar-dark;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.6);

    cursor: initial;

    &.light {
        background-color: $navbar-light;
    }

    span,
    p {
        margin: 0.5em 0;
        width: max-content;
    }

    #logOut {
        cursor: pointer;
    }

    #darkmode {
        cursor: pointer;

        p {
            vertical-align: middle;
            display: inline-block;
        }

        img {
            width: 1em;
            margin-left: 0.5em;
            vertical-align: middle;
            display: inline-block;
        }
    }
}
