#navbarRight {
    margin: 0 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    #themeSwitcher {
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
        }
    }
}
