$font-light: #202020;
$font-dark: #dfdfdf;

#privacyHolder{
    padding: 1.5em;
    line-height: 1.5em;
    user-select: text;

    a{
        text-decoration: underline;
    }

    hr{
        border-color: $font-dark;
        border-style: solid;
        border-width: 0.05em;
    }
}

.grecaptcha-badge {
    visibility: hidden;
}