#privacyPolicyHolder {
    padding: 1.5em;
    line-height: 1.5em;
    user-select: text;

    a {
        color: hsl(220, 100%, 75%);
        text-decoration: underline;
    }

    &.light {
        a {
            color: hsl(220, 100%, 50%);
        }
    }
}

.grecaptcha-badge {
    visibility: hidden;
}
