.privacyPolicyHolder {
    padding: 1.5em;
    line-height: 1.5em;
    user-select: text;

    hr {
        border: none;
        height: 0.2rem;
        background-color: #dfdfdf;
    }

    &.light {
        hr {
            background-color: #202020;
        }
    }
}
