nav {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: hsla(240, 14%, 25%);
    box-shadow: 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.6);

    &.light {
        background-color: hsla(240, 14%, 80%);
    }
}

.linksHolder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    overflow-x: scroll;

    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}
