.topArtists{
    margin-top: 1.5em;
}
.artistEach{
    margin-top: 1em;
    margin-bottom: 1em;
}
.listArtistNumber{
    width: 1em;
    display: inline-block;
    margin-right: 1em;
    text-align: right;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
    vertical-align: middle;
}
.listArtistProfileHolder{
    width: 3em;
    height: 3em;
    margin-right: 1em;
    display: inline-block;
    vertical-align: middle;
}
.listArtistProfile{
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 1.5em;
    display: block;
}
.listArtistNameHolder{
    display: inline-block;
    width: max-content;
    max-width: calc(100% - 6em);
    overflow: hidden;
    vertical-align: middle;
}
.listArtistName {
    width: 100%;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}