.topArtists{
    margin-top: 1.5em;
}
.artistEach{
    margin-top: 1em;
    margin-bottom: 1em;
}
.listArtistNumber{
    width: 1em;
    display: inline-block;
    margin-right: 1em;
    text-align: right;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
    vertical-align: middle;
}
