.transition300ms{
    transition-property: margin, width;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}
.grecaptcha-badge {
    visibility: hidden;
}
#accountInfoHolder{
    padding: 1.5em;
}
#accountInfoTitle{
    font-size: 2em;
    font-weight: 600;
}
#accountInfoProfilePic{
    display: block;
    width: 20em;
    box-shadow: 0 0.2em 0.4em rgb(0,0,0,0.6);
}
#accountInfoUsername{
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0;
}

.infoSmall{
    margin-top: 0.5em;
    margin-bottom: 0;
}
.copy{
    user-select: all;
}