#accountPageHolder {
    margin: 0 10em;
    transition-property: margin;
    transition-duration: 300ms;

    &.mobile {
        margin: 0;
    }

    #content {
        padding: 1.5em;

        #title {
            font-size: 2em;
            font-weight: 600;
        }

        img {
            width: 20em;
            display: block;
            box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.6);
        }

        #username {
            font-size: 2em;
            margin-bottom: 0;
            font-weight: 600;
        }

        .info {
            margin-top: 0.5em;
            margin-bottom: 0;
        }

        .copy {
            user-select: all;
        }
    }
}
