nav {
    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: hsla(240, 14%, 25%);
}

.linksHolder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    overflow-x: scroll;

    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    .pageLink {
        margin: 0.25rem;
        padding: 1rem;
        border-bottom: 0.2rem solid transparent;

        display: inline-block;

        span {
            white-space: nowrap;
        }

        &:hover {
            border-bottom: 0.2rem solid hsla(210, 70%, 50%);
        }
    }

    .active {
        border-bottom: 0.2rem solid hsla(210, 70%, 50%);
    }
}
