.navigator {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;

    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

.highlight {
    position: absolute;
    top: 0.25rem;
    height: calc(100% - 0.5rem);
    border-radius: 0.5rem;
    background-color: hsla(210, 70%, 50%, 75%);
    transition: 100ms ease-out;
    z-index: -1;
}
