#nowPlaying {
    padding: 1.5em;
    margin-top: 1.5em;
    border-radius: 0.5em;
    transition-property: background-color;
    transition-duration: 500ms;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.6);

    &.mobile {
        margin-top: 0;
        padding-top: 3em;
        border-radius: 0;
    }

    .status {
        font-size: 2em;
        margin-top: 0;
        font-weight: 600;
    }

    #albumArt {
        display: inline-block;
        margin-right: 1.5em;
        width: 20em;
        height: 20em;
        box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.6);

        img {
            display: block;
        }
    }

    #npInfoHolder {
        display: inline-block;
        vertical-align: top;
        min-width: calc(100% - 21.5em);
        width: max-content;
        max-width: 100%;

        .title {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 0;
            overflow-wrap: break-word;
        }
    }
}
