#loggedOutHolder{
    padding: 1.5em
}
#kingHolder{
    display: inline-block;
    margin-right: 1.5em;
    vertical-align: top;
}
#king{
    width: 20em;
    display: block;
}
#title{
    font-size: 2em;
    font-weight: 600;
}
#subTitle{
    font-size: 2em;
}
#listYouCanDo li{
    font-size: 2em;
}
#infoHolder{
    display: inline-block;
}

.grecaptcha-badge{
    visibility:visible;
}
.transition300ms{
    transition-property: margin, width;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}